# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Python byte-compiled
*.log

# Docker
*.pid

# Model weights 
*.pt
runs/
